<a href="https://colab.research.google.com/github/Bcopeland64/Data-Science-Notebooks/blob/master/Copy_of_Intro_to_Python_blanks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Copyright 2021, Zaka AI, Inc. All Rights Reserved.

# Python Basics
---

**Objective:**

In this exercise, you will be covering basics of python including syntax, operators, data types, control flows, and.

[The Zen of Python, explained.](https://inventwithpython.com/blog/2018/08/17/the-zen-of-python-explained/)

In [1]:
#Display Zen of Python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Python as a calculator

In [2]:
# power 
print(2**3 )

# division
print(42/15 )

# modulo
print( 8%3) 

# floor division
print(42//15)

8
2.8
2
2

## Using Variables

In [3]:
#we have a rectangle having the below width and height
width= 20
height= 5

In [4]:
#print area of the rectangle
print (width*height)

100

In [5]:
# add 10 to height and print
height += 10
print(height)

15

In [6]:
# print a check condition if the shape is a square
print(width == height)

False

## Booleans

In [7]:
True & False

False

In [8]:
True | False

True

In [9]:
z= True 
z2 = False 

z &= z2 # same as z = z & z2
print(z)

False

## Strings

In [10]:
print ("I'm starting an AI course soon!")

I'm starting an AI course soon!

In [11]:
print ("""This is a 
multiline string""") 
# OR
print("\nfirst line \n second line")

This is a
multiline string

first line
 second line

In [12]:
# print combination of two strings
print("first part"+" second part")

first part second part

In [13]:
word="University"
# print first letter of word
print (word[0])

U

In [14]:
# print last letter of word
print(word[-1])

y

## Type casting

In [15]:
# It is often useful to change the type of an object
a=2
b=3
print (a+b)
print ('Value of b: ' + str(b))

5
Value of b: 3

In [16]:
# what if b was not a string
print ('Value of b: ' + b)

TypeError: ignored

## Lists
Lists can be used to group together other items. In python (unlike other languages), lists can contain items of different types.

In [18]:
nums = [1,4,9,16,25]

#print the first element in the list nums
print (nums[0])

1

In [19]:
#print from nums elements ranging from the third element(inclusive) till the end
print (nums[2:])

[9, 16, 25]

In [20]:
# print elements at index 2(inclusive) to 4(exclusive)
print (nums[2:4])

[9, 16]

In [21]:
# print length of the list
print(len(nums))

5

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [22]:
info ={
    'Name': 'Jean',
    'Address': 'Beirut',
    'Age': 23, 
    'Destination': 'AI Galaxy',
    'Year': 2020
}

print(info)

{'Name': 'Jean', 'Address': 'Beirut', 'Age': 23, 'Destination': 'AI Galaxy', 'Year': 2020}

In [23]:
#To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value
print (info['Name'],' lives in', info['Address'])

Jean  lives in Beirut

In [24]:
#You can change the value of a specific item by referring to its key name.
info['Year'] = 2021
info['Address'] = 'Jbeil'

print(info)

{'Name': 'Jean', 'Address': 'Jbeil', 'Age': 23, 'Destination': 'AI Galaxy', 'Year': 2021}

## Data Types
**Mutable vs Immutable:** in Python, some objects can be changed without changing their identity(mutable) and others cannot(immutable).

Some immutable objects (i.e. objects that can't be modified after creation):
*   int
*   float
*   string
*   boolean


Some mutable objects:
*   list
*   dictionary


This fact if goes unnoticed can result in some nasty bugs (errors) when defining functions, and therefore is important to understand. 

NOTE: Mutable objects are great to use when you need to change the size of the object, example list, dict etc.. Immutables are used when you need to ensure that the object you made will always stay the same.

[To read more about this.](https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747)

In [25]:
# INT is IMMUTABLE
x = 2
y = 3 

x = y

print(x)
print(y)

#The id() function returns identity of the object. 
#This is an integer which is unique for the given object and remains constant during its lifetime.
print(id(x))
print(id(y))

3
3
94644289591872
94644289591872

id(x) == id(y)

id(y) == id(3)

In [26]:
x = x + 1
print(x)
print(y)
print(id(x))
print(id(y))

4
3
94644289591904
94644289591872

id(x) != id(y)

id(x) != id(3)

In [27]:
# LIST is MUTABLE
m = list([1, 2, 3])

n = m

print(m)
print(n)

print(id(m))
print(id(n))

[1, 2, 3]
[1, 2, 3]
140631167353792
140631167353792

id(m) == id(n)

In [28]:
m.pop()

print(m)
print(n)

print(id(m))
print(id(n))

[1, 2]
[1, 2]
140631167353792
140631167353792

id(m) == id(n)

NOTE: If a mutable object is called by reference in a function, it can change the original variable itself. Hence to avoid this, the original variable needs to be copied to another variable. Immutable objects can be called by reference because its value cannot be changed anyways.

Notice the following error:

In [29]:
word = "university" 
word[2]='r'

TypeError: ignored

But it works for lists, for example:

In [30]:
squares=[1,4,9,16,25]
squares[-2]=100
print (squares)

[1, 4, 9, 100, 25]

Examples of boolean operations:

In [31]:
x=2
y=2

#The is operator compares the identity of two objects.
print(x is y)

True

In [32]:
x=2
y=5
#check if x is not equal to y and print
print(x != y)

True

In [33]:
x=2
y=3
#x OR y and print result
print(x | y)

3

In [34]:
x=2
y=3
#x AND y and print result
print(x & y)

2

## Control Flow

### If statements

In [35]:
#Read an integer from the user and save it in variable x
x= int(input("Please enter an integer:"))


#print if x is negative, zero, or positive
if(x<0):
    print("Negative")
elif(x==0):
    print("Zero")
else:
    print("Positive")

Please enter an integer:3
Positive

### While Loop

In [36]:
#Adjust the previous code so that you keep on reading values from the user until he/she prints a positive integer


#Read a positive integer from the user and save it in variable x
x=int(input("Please enter a positive integer:"))


#ask for new input if x is negative 
while(x<0):
    print('You entered a negative integer')
    x=int(input("\nPlease enter a positive integer:"))

print('Success!\nx = '+str(x))

Please enter a positive integer:4
Success!
x = 4

In [37]:
# write a loop that prints Fibonacci series starting at [1,2] up to 100
#expected output: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# NOTE: A current Fibonacci value F(n) = F(n-1) + F(n-2)

numbers=[1,2]

while ((numbers[-1]+numbers[-2]) < 100): #condition
  fib_num = numbers[-1]+numbers[-2] #calculate next number
  numbers = numbers + [fib_num] #store the number

print(numbers)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

**Notice:**


*   The while loop executes as long as the condition remains true.
*   The body of the loop is indented. Indentation is how python groups statements. You can use tab or spaces for indentation, but you have to be consistent with the number of spaces. It is good practice to use exactly 4 spaces(or a tab).

### For loop

The for loop iterates over the items of a list (or the characters of a string) in the order that they appear. In other languages, for loops always have the form of

     for (i= 1 to 10) --> loop iterator
           perform action

In [38]:
#Measure some strings
words=['cat','window','university']

# iterate through list of words and print the length of each
for w in words:
    print (w, len(w)) # what are we doing here?

cat 3
window 6
university 10

In [39]:
#If you want to iterate over numbers use the range function
a=['I','love','Python','language','!']

for i in range(len(a)):
    print (i, a[i])

0 I
1 love
2 Python
3 language
4 !

You can loop through a dictionary by using a for loop. When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [40]:
#print keys in the dictionary
for x in info:
  print(x)

Name
Address
Age
Destination
Year

In [41]:
#print values in the dictionary
for x in info.values():
  print(x)

Jean
Jbeil
23
AI Galaxy
2021

In [42]:
#print keys and values adjacent to each other in the dictionary
for x, y in info.items():
  print("Key is: " + x, " Value is: " + str(y))

Key is: Name  Value is: Jean
Key is: Address  Value is: Jbeil
Key is: Age  Value is: 23
Key is: Destination  Value is: AI Galaxy
Key is: Year  Value is: 2021

## Functions

In [43]:
# Write a function called "equal" that takes two inputs x and y
# and prints True if they are equal and False otherwise

def equal(x, y):
  return(x==y)

# Test your function
print (equal(2,2))

True

In [44]:
print(equal(3,4))

False