<h1>Download and Preprocess the dataset<h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<h1>Build the Keras Model<h1>

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [17]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

<h1>Test the Network<h1>

In [20]:
# build the model
model = regression_model()

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1513.0272
Epoch 2/50
 - 0s - loss: 1495.0357
Epoch 3/50
 - 0s - loss: 1475.6957
Epoch 4/50
 - 0s - loss: 1455.1677
Epoch 5/50
 - 0s - loss: 1433.3974
Epoch 6/50
 - 0s - loss: 1410.0353
Epoch 7/50
 - 0s - loss: 1385.5067
Epoch 8/50
 - 0s - loss: 1359.3027
Epoch 9/50
 - 0s - loss: 1331.7097
Epoch 10/50
 - 0s - loss: 1302.6680
Epoch 11/50
 - 0s - loss: 1271.9283
Epoch 12/50
 - 0s - loss: 1240.2557
Epoch 13/50
 - 0s - loss: 1207.0671
Epoch 14/50
 - 0s - loss: 1172.5062
Epoch 15/50
 - 0s - loss: 1137.4332
Epoch 16/50
 - 0s - loss: 1100.7077
Epoch 17/50
 - 0s - loss: 1064.1010
Epoch 18/50
 - 0s - loss: 1026.2195
Epoch 19/50
 - 0s - loss: 988.3297
Epoch 20/50
 - 0s - loss: 950.2460
Epoch 21/50
 - 0s - loss: 911.9693
Epoch 22/50
 - 0s - loss: 874.3185
Epoch 23/50
 - 0s - loss: 836.2992
Epoch 24/50
 - 0s - loss: 799.1199
Epoch 25/50
 - 0s - loss: 762.0816
Epoch 26/50
 - 0s - loss: 726.1976
Epoch 27/50
 - 0s - loss: 690.9337
Epoch 28/50
 - 0s - loss: 657.2049
Epoch 29/50
 - 0s - loss: 624.3826
Epoch 30/50
 - 0s - loss: 593.2978
Epoch 31/50
 - 0s - loss: 563.2138
Epoch 32/50
 - 0s - loss: 535.0862
Epoch 33/50
 - 0s - loss: 507.7306
Epoch 34/50
 - 0s - loss: 482.4179
Epoch 35/50
 - 0s - loss: 458.5983
Epoch 36/50
 - 0s - loss: 436.1456
Epoch 37/50
 - 0s - loss: 414.9882
Epoch 38/50
 - 0s - loss: 395.4456
Epoch 39/50
 - 0s - loss: 377.1342
Epoch 40/50
 - 0s - loss: 360.5234
Epoch 41/50
 - 0s - loss: 345.0163
Epoch 42/50
 - 0s - loss: 330.5936
Epoch 43/50
 - 0s - loss: 317.5857
Epoch 44/50
 - 0s - loss: 305.3525
Epoch 45/50
 - 0s - loss: 294.5899
Epoch 46/50
 - 0s - loss: 284.4718
Epoch 47/50
 - 0s - loss: 275.1803
Epoch 48/50
 - 0s - loss: 267.1877
Epoch 49/50
 - 0s - loss: 259.1506
Epoch 50/50
 - 0s - loss: 252.2139

In [22]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 270us/step

228.53921128553867

In [23]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

228.53921269977266 0.0

In [24]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 109.57104158864438
MSE 2: 95.53942179757028
MSE 3: 70.17367852467163
MSE 4: 73.25172924300999
MSE 5: 71.39200710555882
MSE 6: 70.9457340549111
MSE 7: 66.13659201316463
MSE 8: 51.2276181464828
MSE 9: 45.46173278413544
MSE 10: 44.74774893356373
MSE 11: 43.982364382944446
MSE 12: 42.00858118001697
MSE 13: 50.15150921090135
MSE 14: 49.254983216813464
MSE 15: 44.063452921253194
MSE 16: 39.12165395495961
MSE 17: 42.25842517865129
MSE 18: 41.974034343336776
MSE 19: 40.39491369500515
MSE 20: 43.07305058846582
MSE 21: 40.90410591792134
MSE 22: 41.3158116757291
MSE 23: 38.56477152259605
MSE 24: 41.53952032539837
MSE 25: 43.82822608330489
MSE 26: 43.67976989252282
MSE 27: 41.493705601368134
MSE 28: 40.492174913968086
MSE 29: 47.3973915075407
MSE 30: 43.842255070757325
MSE 31: 42.58006037246062
MSE 32: 38.39289551645421
MSE 33: 38.88353332963962
MSE 34: 44.028278980440305
MSE 35: 42.643487652528634
MSE 36: 47.36397784581848
MSE 37: 41.93632830771042
MSE 38: 45.667890999309456
MSE 39: 42.4148563644261
MSE 40: 39.40216305186448
MSE 41: 45.774337509303415
MSE 42: 38.72239093718791
MSE 43: 40.96212885835024
MSE 44: 46.221847213201926
MSE 45: 45.892114645454875
MSE 46: 47.345499773241556
MSE 47: 41.99846835583931
MSE 48: 42.55585393319238
MSE 49: 43.88915118121792
MSE 50: 46.76265507917188


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 48.42451789501326
Standard Deviation: 14.080615427466082